<!-- views/pages/index.ejs -->

<!--  Doctype and head tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<!-- Header stub -->
<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
<!-- primary div -->
    <div class="jumbotron">
    <h1>Crews</h1>
        <h3>View and add job crews below.</h3><br>
		<h5>Add a new crew</h5>
		<!--  Form for adding a new crew to the database -->
		<form id="crewAddForm">
		<label for="cname">Crew Name</label><br>
  <input type="text" id="cname" name="cname"><br><br>
  <input type="submit" value="Submit" id="crewAddButton"><br>
</form>
	<!--  Event listener for the form's submit button, builds & sends XHR -->
		<script>
			document.getElementById("crewAddButton").addEventListener("click", 
			function addNewCrew(submission){
				//submission.preventDefault();
				//Set URL for submission
				let fullUrl = "/Crews";

				//Initialize new request object
				let requestObject = new XMLHttpRequest();

				//requestObject.onload = function() {
				//alert(requestObject.response); 
				//};

				//Set headers and open parameters
				requestObject.open('POST', fullUrl, true);
				requestObject.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

				//Set body and inputName parameters
				let body = {"yes": 1};
				let inputName = document.getElementById('cname').value;

				//Make async
				requestObject.addEventListener('load', function () {
					if (requestObject.status >= 200 && requestObject.status < 400) {
						//Clear the body table
						document.getElementById('cname').textContent = "";
						console.log("submittedCname");
						}

					
					else {
						//Error making connection
						console.log("error making connection");
					}
				});

				//Actually send the request, then reload the page
				console.log(JSON.stringify(body));
				requestObject.query = body;
				requestObject.send("name=" + inputName);
				location.reload(true);
			});
		</script>
		<br>
		<h5>Browse existing crews</h5>
		<!-- Table for displaying crews -->
		<table>
		<thead>
		<tr>
			<th>Crew ID</th>
			<th>Crew Name</th>
		</thead>
		<tbody>
		<!--  This loop iterates over each returned row and populates each td with the row's attributes -->
		<% results.forEach(function(thing){ %>
        <tr>
			<td><%= thing.crew_id %></td>
			<td><%= thing.crew_name %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <!-- Fix table layout -->
	  <style type="text/css">
	  table {
		border-collapse: separate;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<!-- Footer stub -->
<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>