<!-- views/pages/index.ejs -->

<!--  Doctype and head tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<!-- Header stub -->
<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
	<!-- primary div -->
    <div class="jumbotron">
        <h1>Phases</h1>
        <h3>View and add job phases below.</h3><br>
		<h5>Add a new phase</h5>
		<!--  Form for adding a new phase to the database -->
		<form>
			<label for="pname">Phase Name</label><br>
			<input type="text" id="pname" name="pname"><br>
			
			<label for="jid">Job Name</label><br>

		<select id="jid" name="jid">
		<option value="">None</option>
		<!--  This loop iterates over each row in Jobs and populates the FK drowdown accordingly -->
		<% jidSelections.forEach(function(thing){ %>
		<option value="<%= thing.job_id %>"><%= thing.job_name %></option>
		<% }) %>
		</select><br><br>

			<input type="submit" value="Submit" id="inputButton"><br>
		</form>
		<br>
		
		<!--  Event listener for the add form submit button -->
		<script>
	  document.getElementById("inputButton").addEventListener("click",
	function addPhase(submission) {
		submission.preventDefault();

		//URL base
		let fullUrl = "/Phases";

		//Initialize new request object
		let requestObject = new XMLHttpRequest();

		//Set headers and open parameters
		requestObject.open('POST', fullUrl, true);
		requestObject.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		let pName = document.getElementById("pname").value;
		let jidVal = document.getElementById("jid").value;

		//Make async
		requestObject.addEventListener('load', function () {
			if (requestObject.status >= 200 && requestObject.status < 400) {
				console.log("hitAddButton");
			}
			else {
				//Error making connection
				console.log("error making connection");
			}
		});

		//Actually send and reload the page
		requestObject.send("pName=" + pName + "&jidVal=" + jidVal);
		location.reload(true);
	});
</script>




		
		<h5>Browse existing phases</h5>
		<!-- Table for displaying Phases -->
		<table>
		<thead>
		<tr>
			<th>Phase ID</th>
			<th>Phase Name</th>
			<th>Job ID</th>
			<th>Job Name</th>
		</thead>
		<tbody>
		<!--  This loop iterates over each returned row and populates each td with the row's attributes -->
		<% results.forEach(function(thing){ %>
        <tr>
			<td><%= thing.phase_id %></td>
			<td><%= thing.phase_name %></td>
			<td><%= thing.job_id %></td>
			<td><%= thing.job_name %></td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
    </div>
</main>

<!-- footer stub -->
<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
