<!-- views/pages/index.ejs -->

<!--  Doctype and head tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<!--  Header stub -->
<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
	<!-- primary div -->
    <div class="jumbotron">
        <h1>Phase:Crew M:M Table</h1>
        <h3>Add, view, and delete relationships between phases and crews below.</h3>
		<br>
		<h5>Add a new relationship</h5>
		<!-- Form for adding a new relationship -->
		<form id="inputForm" action="/addPC" method="POST">
		<label for="pid">Phase Name</label><br>
		<select id="pid" name="pid">
		<!-- Loops over all rows in Phases to create the FK dropdown -->
		<% pidSelections.forEach(function(thing){ %>
		<option value="<%= thing.phase_id %>"><%= thing.phase_name %></option>
		<% }) %>
		</select>><br>
  <label for="cid">Crew Name:</label><br>
  <select id="cid" name="cid">
		<!-- Loops over all rows in Crews to create the FK dropdown -->
		<% cidSelections.forEach(function(thing){ %>
		<option value="<%= thing.crew_id %>"><%= thing.crew_name %></option>
		<% }) %>
		</select><br><br>
  <input type="submit" value="Submit">
				</form>
  
  
  <br>
</form>
		<br>
		<h5>Browse existing relationships</h5>
		<!-- Table for displaying rows in Phase_crew -->
		<table id="relationshipTable">
		<thead>
		<tr>
			<th>Relation ID</th>
			<th>Phase ID</th>
			<th>Phase Name</th>
			<th>Crew ID</th>
			<th>Crew Name</th>
			<th></th>
		</thead>
		<tbody>
		<!--  This loop iterates over each returned row and populates each td with the row's attributes -->
		<% results.forEach(function(thing){ %>
        <tr id="<%= thing.relation_id %>">
			<td><%= thing.relation_id %></td>
			<td><%= thing.phase_id %></td>
			<td><%= thing.phase_name %></td>
			<td><%= thing.crew_id %></td>
			<td><%= thing.crew_name %></td>
			<td>
			<!--  Form for deleting this row -->
			<form id="deletePCform" method="POST" action="/deletePC">
					<input type="hidden" id="rid" name="rid" value="<%= thing.relation_id %>">
					<button type="submit" style="background-color: #e60000 !important; color: #FFFFFF !important; border-radius: 4px;">Delete</button>
				</form>

			</td>
		</tr>
      <% }) %>
	  </tbody>
	  </table>
	  <!-- Fix table layout -->
	  <style type="text/css">
	  table {
		border-collapse: separate;
		margin-left: -12px !important;
		}
	  </style>
    </div>
</main>

<!--  Footer stub -->
<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>